.validation-error-label, .validation-valid-label {
	margin-top: 8px;
	margin-bottom: 8px;
	display: block;
	color: #F44336;
	position: relative;
	padding-left: 0px;
}

hr {
    margin-top: 1px; 
    margin-bottom: 1px; 
    border: 0;
    border-top: 1px solid #eee;
}

#tb {
	padding: 0px;
}

.pad-top {
    padding-top: 5px;
}

.mar-bottom {
    margin-bottom: 5px;
}

.padd-tb {
    float: none;
    padding: 5px 0px 2px 0px;
}

.datagrid-header-row {
    height: 35px;
    color: #fff;
}

.datagrid-row {
    height: 30px;
}

.datagrid-toolbar {
    background: #fff;
    padding-right: 0px !important;
}

.datagrid-header-inner {
    float: left;
    width: 100%;
    background-color: #3c8dbc;
}

.datagrid-header td.datagrid-header-over {
    background: #204d74;
    color: #fff;
    cursor: default;
}

.textbox .textbox-text {
    font-size: 12px;
    border: 0;
    margin: 0;
    padding: 4px;
    white-space: normal;
    vertical-align: top;
    outline-style: none;
    resize: none;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: 33px !important;
}

.header-border {
    border-bottom: 4px solid #ff9c00; 
    box-shadow: 0 3px 10px rgba(0,0,0,0.23), 0 3px 10px rgba(0,0,0,.16);
}

@media screen and (min-width: 768px) {
    .padd-tb {
        float: none !important;
        padding: 10px 0px 0px 0px !important;
    }
}