html, body{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: gray;
}

table.detail {
    border: 1px solid black;
}

tr.tr-b{
    border: 1px solid black;
    padding: 2px;
    font-size: 11pt;
    color: white;
    background-color: green;
}

td.trc {
    border: 1px solid black;
    padding: 2px;
    font-size: 11pt;
    width: 135px;
}    

b{
    font-size: 15pt;
}

.h2, h2 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.table_light {
    background-color: #fff;
    font-size: 20pt !important;
}

@font-face {
  font-family: 'digital-7';
  src: url('../font/digital-7.ttf');
}

.datagrid-header .datagrid-cell span {
    font-size: 15px;
}

.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber {
    margin: 0;
    padding: 0 4px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
}

.content {
    min-height: 250px;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}